.504_AddCategory {
  z-index: 2;
  position: fixed;
  width: 50%;
  height: 700px;
  /* left: calc(50% - 1497px/2 );
    top: calc(50% - 749px/2 ); */
  border-radius: 0;
  border: 0.5px solid;
  border-color: #7ac70c;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-top: 5%;
}
.504_TitleOfAddCateScr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Arial;
  font-size: 2vw;
  font-weight: bold;
  margin-left: 3%;
  margin-top: 5%;
}
.504_AddInforOfCate {
  display: flex;
  font-family: Arial;
  flex-direction: row;
  height: 8%;
  width: 90%;
  font-weight: 600;
  align-items: center;
  margin-top: 4%;
  margin-left: 3%;
}
.504_LabelOfAddCate {
  display: flex;
  width: 15%;
  margin-left: 3%;
}
.504_InputOfAddCate {
  display: flex;
  height: 100%;
  border: 0.5px solid black;
  border-radius: 10px;
}
.504_AddDescriptionOfCate {
  display: flex;
  width: 100%;
  height: 30%;
}
#504_AddDescriptionOfCateLabel {
  display: flex;
  font-family: Arial;
  font-weight: 600;
  width: 15%;
  margin-left: 3%;
}
#504_AddDescriptionOfCateInput {
  display: flex;
  height: 100%;
  border: 0.5px solid black;
  border-radius: 10px;
  width: 80%;
}
#504_AddCateButton {
  display: flex;
  width: 20%;
  align-self: center;
  margin-top: 10%;
}
#504_XButton {
  display: flex;
  align-self: center;
  margin-top: 3%;
}
