.baobigger {
  display: flex;
  margin-left: 30px;
  height: 60px;
  width: 1230px;
  left: 409px;
  border-radius: 10px;
  background-color: #f5f5f5;
  margin-top: 13px;
  margin-bottom: 13px;
  align-items: center;
  padding-bottom: 4px;
}
